<!-- slider -->
<app-carousel></app-carousel>
<!-- Body -->

<!-- News -->
<div class="container">
  <div class="row">
    <div class="text-center my-5">
      <h2>How it started</h2>
      <div class="w-50 mx-auto">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
          expedita repudiandae perspiciatis in, id rem atque quaerat, asperiores
          molestiae aperiam ipsa alias modi voluptatibus tempora vel dignissimos
          explicabo, sequi architecto Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Nobis expedita repudiandae perspiciatis in, id rem
          atque quaerat, asperiores molestiae aperiam ipsa alias modi
          voluptatibus tempora vel dignissimos explicabo, sequi architecto
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Services -->
<div class="servicesbg">
  <div class="servicesOpacity px-5 py-5">
    <div class="container">
      <div class="row d-flex justify-content-around">
        <h1 class="text-center mb-5">Our Services</h1>
        <div
          class="
            col-lg-3 col-sm-12
            mx-4
            col-md-4
            shadow
            p-3
            mb-5
            bg-body
            rounded
          "
        >
          <div class="row d-flex justify-content-center my-4">
            <img src="assets/airline.svg" class="w-50 h-50" />
          </div>
          <div class="row">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
              expedita repudiandae perspiciatis in, id rem atque quaerat,
              asperiores molestiae aperiam ipsa alias modi voluptatibus tempora
              vel dignissimos explicabo, sequi architecto
            </p>
          </div>
        </div>
        <div
          class="
            col-lg-3 col-sm-12
            mx-4
            col-md-4
            shadow
            p-3
            mb-5
            bg-body
            rounded
          "
        >
          <div class="row d-flex justify-content-center my-4">
            <img src="assets/takeoff.svg" class="w-50 h-50" />
          </div>
          <div class="row">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
              expedita repudiandae perspiciatis in, id rem atque quaerat,
              asperiores molestiae aperiam ipsa alias modi voluptatibus tempora
              vel dignissimos explicabo, sequi architecto
            </p>
          </div>
        </div>
        <div
          class="
            col-lg-3 col-sm-12
            mx-4
            col-md-4
            shadow
            p-3
            mb-5
            bg-body
            rounded
          "
        >
          <div class="row d-flex justify-content-center my-4">
            <img src="assets/ticket.svg" class="w-50 h-50" />
          </div>
          <div class="row">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
              expedita repudiandae perspiciatis in, id rem atque quaerat,
              asperiores molestiae aperiam ipsa alias modi voluptatibus tempora
              vel dignissimos explicabo, sequi architecto
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Experiences-->
<div class="container">
  <div class="row">
    <div class="row my-5">
      <h3 class="mb-5">People's experiences</h3>
      <div class="col-md-6 d-flex col-sm-12 justify-content-center my-4">
        <img
          src="assets/pexels-nina-uhlíková-725255.jpg"
          alt=""
          width="150"
          height="150"
          class="rounded-circle mx-5 shadow-lg bg-body rounded "
        />
        <div class="py-3 my-4" >
          <h3>Lisa</h3>
          <p>dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex col-sm-12 justify-content-center my-4">
        <img
          src="assets/pexels-nina-uhlíková-725255.jpg"
          alt=""
          width="150"
          height="150"
          class="rounded-circle mx-5 shadow-lg bg-body rounded "
        />
        <div class="py-1 my-4">
          <h3>danielle</h3>
          <p>dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6 d-flex col-sm-12 justify-content-center my-2">
        <img
          src="assets/pexels-nina-uhlíková-725255.jpg"
          alt=""
          width="150"
          height="150"
          class="rounded-circle mx-5 shadow-lg bg-body rounded mb-2"
        />
        <div class="py-1 my-4">
          <h3>roberto</h3>
          <p>dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex col-sm-12 justify-content-center my-2">
        <img
          src="assets/pexels-nina-uhlíková-725255.jpg"
          alt=""
          width="150"
          height="150"
          class="rounded-circle mx-5 shadow-lg bg-body rounded my-4"
        />
        <div class="py-1 mt-5">
          <h3>michael</h3>
          <p>dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
