<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light navv shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#">
      <div class="row">
        <div class="col-4"><img src="../assets/th.jpg" class="logoimg" /></div>
        <div class="col-8 mt-4">
          <h5 class="logoheader">EgyAirlines</h5>
        </div>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="Home"
          ><h5>Home</h5>
        </a>
        <a class="nav-link" routerLink="About"><h5>About_us</h5></a>
        <a class="nav-link" routerLink="Airline"><h5>Airlines</h5></a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- footer -->
<footer>
  <div class="bluefooter"></div>
  <div class="grayfooter">
    <div class="container">
      <div class="row pt-5">
        <div class="col-3">
          <h3>Team</h3>
          <h4>Lisa</h4>
          <h4>Deniella</h4>
          <h4>Brain</h4>
          <h4>Join us!</h4>
        </div>
        <div class="col-3">
          <h3>Learn More</h3>
          <h4>manifesto</h4>
          <h4>works</h4>
          <h4>stories</h4>
        </div>
        <div class="col-3">
          <h3>Meet us</h3>
          <h4>studio</h4>
          <h4>community</h4>
          <h4>workshop</h4>
        </div>
        <div class="col-3">
          <h3>Contact Us</h3>
          <h4><img src="assets/facebook.svg" class="footerimg" /> facebook</h4>
          <h4><img src="assets/twitter.svg" class="footerimg" /> twitter</h4>
          <h4><img src="assets/whatsapp.svg" class="footerimg" /> whatsapp</h4>
        </div>
      </div>
    </div>
  </div>
</footer>
